<%= form_for @career do |f| %>
  <% if @career.errors.any? %>
    <div class="errors">
      <ul>
        <% @career.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :last_name %></th>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <th><%= f.label :first_name %></th>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <th><%= f.label :birthday %></th>
      <td><%= f.text_field :birthday %></td>
    </tr>
    <tr>
      <th><%= f.label :gender %></th>
      <td>
        <label><%= f.radio_button :gender, 'M' %> 男性</label>
        <label><%= f.radio_button :gender, 'F' %> 女性</label>
    </tr>
    <tr>
      <th><%= f.label :introduction %></th>
      <td><%= f.text_area :introduction %></td>
    </tr>
  </table>

  <table class="career_details">
    <tr>
      <th><%= CareerDetail.human_attribute_name :project_name %></th>
      <th><%= CareerDetail.human_attribute_name :start_date %></th>
      <th><%= CareerDetail.human_attribute_name :end_date %></th>
      <th></th>
    </tr>

    <% @career.career_details.each_with_index do |cd, i| %>
      <%= render 'career_detail_fields', :career_detail => cd, :index => i %>
    <% end %>

    <tr>
      <td colspan="3">
        <a id="new_career_detail_link" href="#">経歴を追加</a>
        <script>
          $(document).ready(function() {
            var link = $('#new_career_detail_link');
            link.click(function() {
              var index = link.closest('table').find('tr').length;

              $.get('<%= url_for :action => 'new_career_detail' %>', {index: index, format: 'html'},
                function(data) {
                  link.closest('tr').before(data);
                });
              });
          });
        </script>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
