<%= form_for @career do |f| %>
  <% if @career.errors.any? %>
    <div class="errors">
      <ul>
        <% @career.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= f.label :last_name %></th>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <th><%= f.label :first_name %></th>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <th><%= f.label :birthday %></th>
      <td><%= f.text_field :birthday %></td>
    </tr>
    <tr>
      <th><%= f.label :gender %></th>
      <td><%= f.text_field :gender %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
