<p id="notice"><%= notice %></p>

<p>
  <strong><%= Career.human_attribute_name :last_name %>:</strong>
  <%= @career.last_name %>
</p>

<p>
  <strong><%= Career.human_attribute_name :first_name %>:</strong>
  <%= @career.first_name %>
</p>

<p>
  <strong><%= Career.human_attribute_name :birthday %>:</strong>
  <%= @career.birthday %>
</p>

<p>
  <strong><%= Career.human_attribute_name :gender %>:</strong>
  <%= @career.gender_name %>
</p>

<p>
  <strong><%= Career.human_attribute_name :introduction %>:</strong>
  <%= @career.introduction %>
</p>

<%= link_to '編集', edit_career_path(@career) %> |
<%= link_to '戻る', careers_path %>
