<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @career.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @career.first_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @career.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @career.gender %>
</p>

<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
